form {
    background-color: #ffffff;
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

#input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#button {
    width: 100%;
    padding: 8px;
    background-color: #2023ea;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f1f4f6;
}